#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 2rem;
    box-sizing: border-box;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,.95);
    box-shadow: 1px 1px 12px rgba(0,0,0,.2);
}

.title {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0,0,0,.6);
    text-transform: uppercase;
    border-top: .1rem solid rgba(0,0,0,.05);
    border-bottom: .1rem solid rgba(0,0,0,.05);
    padding: .5rem 0;
}

figure.logo {
    display: flex;
    align-items: center;
    margin: 0;
}

span.org-name {
    margin-left: .5rem;
    color: rgba(0,0,0,.65);
    font-size: 1.3em;
}